[submodule "theme-research-group"]
	path = theme-research-group
	url = https://github.com/HugoBlox/theme-research-group
[submodule "themes/theme-research-group"]
	path = themes/theme-research-group
	url = https://github.com/HugoBlox/theme-research-group
