.simple-text-block {
    margin: 20px; /* Adiciona uma margem de 20 pixels em todas as direções */
    padding: 10px; /* Adiciona um preenchimento interno de 10 pixels em todas as direções */
    border-radius: 5px; /* Adiciona cantos arredondados */
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}