// Define as cores
$cor-primaria: #000000; // azul padrão do Bootstrap
$cor-secundaria: #6c757d; // cinza padrão do Bootstrap

// Estilos personalizados para o footer
.site-footer {
  color: rgb(0, 0, 0);
  padding: 30px 0;
  text-align: center;
  margin-top: 0px;
}

.powered-by {
  font-size: 14px;
  margin-top: 0px; /* Espaçamento superior */
}

.powered-by a {
  color: white;
  text-decoration: none;
}

.social-icons {
  margin-top: 20px; /* Espaçamento superior */
}

.social-icons a {
  display: inline-block;
  margin: 0 10px; /* Espaçamento entre os ícones */
  font-size: 20px;
  color: white;
}

/* Estilos para os links de política e termos */
.powered-by a:hover {
  text-decoration: underline;
}

.company-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.company-logo {
  width: 30%; /* Ajuste conforme necessário */
  padding: 10px;
  box-sizing: border-box;
}

.company-logo img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .company-logo {
    width: 45%; /* Ajuste para telas menores */
    margin-bottom: 20px; /* Espaçamento entre as empresas em telas menores */
  }
}
