// Define as cores
$cor-primaria: #000000; // azul padrão do Bootstrap
$cor-secundaria: #6c757d; // cinza padrão do Bootstrap

// Footer
.site-footer {
  color: rgb(0, 0, 0);
  padding: 30px 0;
  text-align: center;
  margin-top: 0px;
}

.powered-by {
  font-size: 0px;
}

.powered-by p {
  font-size: 0px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.powered-by a {
  font-size: 0px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.social-icons {
  margin-top: 20px; /* Espaçamento superior */
}

.social-icons a {
  display: inline-block;
  margin: 0 10px; /* Espaçamento entre os ícones */
  font-size: 20px;
  color: white;
}

/* Estilos para os links de política e termos */
.powered-by a:hover {
  text-decoration: underline;
}

.company-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.company-logo {
  width: 30%; /* Ajuste conforme necessário */
  padding: 10px;
  box-sizing: border-box;
}

.company-logo img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .company-logo {
    width: 45%; /* Ajuste para telas menores */
    margin-bottom: 20px; /* Espaçamento entre as empresas em telas menores */
  }
}

.col-12 p {
  text-align: justify;
  font-size: clamp(12px, 2vw, 18px);
}

.col-12 p.mt-1 {
  text-align: center;
  font-size: clamp(10px, 2vw, 18px);
}

.col-12.col-sm-4 p {
  text-align: center;
  padding-bottom: 5px;
  font-size: clamp(10px, 2vw, 15px);
}

// Meu bloco - Logomarcas dos parceiros

/* Estilo base para o Swiper */
.swiper-container {
  width: 100%;
  height: auto;
  margin-bottom: 0;
  padding-bottom: 0;
  min-height: 50px;
  overflow-x: hidden; // NÃO MEXER
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
  .swiper-container {
    width: 100%; /* Ocupe toda a largura do elemento pai */
  }
}

@media (min-width: 745px) {
  .swiper-container {
    width: auto; /* Comportamento padrão para telas maiores */
  }
}

.featurette-custom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.swiper-slide {
  display: flex;
  align-items: center; /* Alinha os itens verticalmente no centro */
  justify-content: center; /* Alinha os itens horizontalmente no centro */
  height: auto; /* Adicionado */
  padding: 0; /* Remove qualquer preenchimento */
  margin: 0; /* Remove qualquer margem */
}

.icon-container {
  flex: 1 0 21%; /* Ou qualquer porcentagem que você desejar */
  max-width: 5%; /* Deve corresponder à porcentagem acima */
  padding: 10px; /* Diminua o padding para deixar os ícones mais próximos */
  display: flex;
  align-items: center;
  justify-content: center;
}

.featurette-icon-custom {
  text-align: center;
  padding: 0px;
  font-size: 10vh; /* Aumenta o tamanho dos ícones */
}

.container:has(.swiper-container.swiper-initialized.swiper-horizontal) {
  max-width: 1920px;
}

// HOME

.home-section.wg-features2 {
  padding: 0px;
  background-color: #ffffff;
}

.home-section.wg-markdown {
  padding: 35px 0;
}

.home-section.wg-features {
  padding: 70px 0;
  background-color: #ffffff;
}

.home-section.wg-image-gallery {
  background-color: #ffffff;
  padding: 5px 0;
}

// Estilo dos projetos
.project-card {
  position: relative;
  overflow: hidden;
}

/* Estilo para a imagem do projeto */
.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

/* Estilo para o texto do projeto */
.project-card .project-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Animação ao passar o mouse sobre o cartão do projeto */
.project-card:hover img {
  transform: scale(1.1);
}

.project-card:hover .project-text {
  opacity: 1;
}

/* Responsividade */
@media screen and (max-width: 600px) {
  .project-card {
    width: 100%;
  }
}

// BREADCRUMB
.breadcrumb {
  padding: 10px 15px;
  list-style: none;
  background-color: #ffffff;
  border-radius: 4px;
}

.breadcrumb li {
  display: inline-block;
}

.breadcrumb li+li:before {
  content: "»";
  padding: 0 5px;
  color: #ccc;
}

.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

.breadcrumb li a:hover {
  color: #014c8c;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .breadcrumb li {
    display: block;
    margin-bottom: 10px;
  }

  .breadcrumb li+li:before {
    content: "";
  }
}

// HERO
.hero-title {
  text-align: center;
  padding-bottom: 10px;
}

.hero-title strong {
  font-size: clamp(30px, 4vw, 70px);
  text-align: center;
  color: #ffffff;
}

.col-12.col-md-6.text-center.text-md-left .hero-title strong {
  font-size: clamp(50px, 4vw, 70px);
  color: #000000;
}

.hero-lead p {
  font-size: clamp(10px, 4vw, 23px);
  padding: 10px;
  color: #000000;
}

.hero-lead.p.strong a {
  font-size: clamp(10px, 4vw, 23px);
  padding: 10px;
  color: #000000;
}

// BUTTON CTA

.btn.btn-light.btn-lg.mb-md-1 {
  background-color: #c70000;
  border-color: #ffffff;
  color: white;
}

// EDITANDO SLIDER
#meu-slider {
  .home-section.fullscreen .fullscreen {
    /* Define a altura mínima para grandes telas */
    min-height: calc(100vh - 70px);
  }
  
  @media (max-width: 768px) {
    .home-section.fullscreen, .fullscreen {
      /* Ajusta a altura para telas menores */
      min-height: 20vh; /* ou o valor que melhor se ajuste ao seu design */
      background-size: cover; /* Garante que a imagem cubra toda a área disponível */
      background-position: center; /* Centraliza a imagem */
    }
  }
  
  @media (max-width: 820px) {
    .home-section.fullscreen, .fullscreen {
      /* Ajusta a altura para telas menores */
      min-height: 35vh; /* ou o valor que melhor se ajuste ao seu design */
      background-size: cover; /* Garante que a imagem cubra toda a área disponível */
      background-position: center; /* Centraliza a imagem */
    }
  }
}

// Galeria
.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 15px;
  padding: 0;
  justify-content: center;
  &::after {
    content: '';
    width: 500px;
  }
}

.image-gallery figure {
  margin: 0;
  position: relative;
  overflow: hidden;
  height: auto;
}

.image-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.image-gallery figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: white;
  font-size: 0.9em;
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
}

.image-gallery figure:hover img {
  transform: scale(1.1);
}

.image-gallery figure:hover figcaption {
  transform: translateY(0);
}

.image-gallery figure.destaque {
  grid-column: span 2; // Faz a imagem destacada ocupar duas colunas
  // Adicione quaisquer outros estilos que você deseja para destacar a imagem
}

@media (max-width: 800px) {
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 15px;
    padding: 0;
  }

  .image-gallery figure.destaque {
    grid-column: span 1; // Ajuste para telas menores
  }
}

@media (max-width: 1080px) {
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 15px;
    padding: 0;
  }

  .image-gallery figure.destaque {
    grid-column: span 0; // Ajuste para telas menores
  }
}

// Breadcrumb
.article-container.py-1 {
  max-width: 65%;
}

// Home
.bloco-cabecalho {
  position: relative;
  text-align: center;
  background-size: cover;
  padding: 50px 20px;
}

.conteudo-cabecalho h1 {
  font-weight: 550;
  color: #fff;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.conteudo-cabecalho p {
  color: #fff;
  margin-bottom: 20px;
}

.botao-saiba-mais {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fefefe;
  color: #8a0002;
  text-decoration: none;
  border-radius: 5px;
}

.home-section.wg-cabecalho {
  background-color: transparent;
  align-items: center;
  align-self: center;
}

.home-section:first-of-type {
  align-items: center;
  text-align: center;
}