<footer class="site-footer bg-dark text-light py-4">
  {{ partial "blox-core/functions/get_hook" (dict "hook" "footer-start" "context" .) }}

  {{/* Load footer block */}}
  {{ $footer_section_name := site.Params.footer.block | default "minimal" }}
  {{ $footer_section_path := printf "components/footers/%s.html" $footer_section_name }}
  {{ if not (templates.Exists (printf "partials/%s" $footer_section_path)) }}
    {{ errorf "Check your `params.yaml`. Cannot find footer block at `layouts/partials/%s`" $footer_section_path }}
  {{ end }}
  {{ partial $footer_section_path . }}

  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center text-md-left mb-3 mb-md-0">
        <div class="footer-social-icons d-flex justify-content-center justify-content-md-start">
          <a href="https://github.com/uai-ufmg" target="_blank" class="text-light mx-2"><i class="fab fa-github fa-lg"></i></a>
          <a href="https://www.linkedin.com/company/labuai" target="_blank" class="text-light mx-2"><i class="fab fa-linkedin fa-lg"></i></a>
          <a href="https://www.instagram.com/lab_uai/" target="_blank" class="text-light mx-2"><i class="fab fa-instagram fa-lg"></i></a>
        </div>
      </div>
      <div class="col-md-4 text-center mb-3 mb-md-0">
        <p class="mb-0">&copy; 2024 Copyright - All rights reserved</p>
      </div>
      <div class="col-md-4 text-center text-md-right mb-3 mb-md-0">
        <div class="d-flex justify-content-center justify-content-md-end">
          <div class="footer-logo">
            <img src="/images/dcc ufmg.png" alt="Logo DCC UFMG" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  .page-footer {
    background-color: #343a40;
  }
  .footer-logo img {
    max-width: 100%;
    height: auto;
  }

  .footer-logo img,
  .footer-img {
    max-width: 150px;
    height: auto;
  }

  @media (max-width: 768px) {
    .footer-logo img,
    .footer-img {
      max-width: 125px;
    }
}

  .footer-social-icons a:hover {
    color: #007bff;
  }
</style>
