{{ $page := .wcPage }}
{{ $block := .wcBlock }}

<!-- Inclua o CSS do Swiper -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<!-- Inclua o JavaScript do Swiper -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Inicialize o Swiper -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <!-- Adicione seus ícones aqui -->
    {{ range $block.content.items }}
    {{ $pack := or .icon_pack "fas" }}
    {{ $pack_prefix := $pack }}
    {{ if in (slice "fab" "fas" "far" "fal") $pack }}
      {{ $pack_prefix = "fa" }}
    {{ end }}
    <div class="swiper-slide">
      {{ with .icon }}
      <div class="featurette-icon-custom">
        {{- if eq $pack "emoji" -}}
          {{- . | emojify -}}
        {{- else if eq $pack "custom" -}}
          {{- $svg_icon := resources.Get (printf "media/icons/%s.svg" .) -}}
          {{- if $svg_icon -}}<img src="{{ $svg_icon.RelPermalink }}" alt="{{.}}" class="svg-icon svg-baseline" loading="lazy">{{- end -}}
        {{- else -}}
          <i class="{{ $pack }} {{ $pack_prefix }}-{{ . }}"></i>
        {{- end -}}
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>

  <!-- Adicione controles de navegação se desejar -->
  <!-- <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div> -->
</div>

<script>
var swiper = new Swiper('.swiper-container', {
  slidesPerView: 'auto', // Exibe o máximo de slides possível
  spaceBetween: 30, // Espaçamento entre os slides
  loop: true, // Ativa o loop contínuo
  autoplay: {
    delay: 0, // Sem atraso entre as animações
    disableOnInteraction: false, // Continua mesmo após interação do usuário
  },
  speed: 5000, // Velocidade do slide (em milissegundos)
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
  breakpoints: {
    320: {
      slidesPerView: 3,
      spaceBetween: 10
    },
    480: {
      slidesPerView: 3,
      spaceBetween: 20
    },
    640: {
      slidesPerView: 4,
      spaceBetween: 30
    },
    900: {
      slidesPerView: 8,
      spaceBetween: 30
    }
  }
});

  </script>
  